<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inception.riya.personalassistant1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Mainpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Userprofile" />
        <activity android:name=".Menu" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Imagesearch" />
        <activity android:name=".music" />
        <activity android:name=".Dialing" />
        <activity android:name=".Messaging" />
        <activity android:name=".Weather" />
        <activity android:name=".Getweather" />
        <activity android:name=".Map" />
        <activity android:name=".Reminders" />
        <activity android:name=".Settings" />
        <activity android:name=".Settings1" />
        <activity android:name=".Signup" />
        <activity android:name=".Navigation" />
        <activity android:name=".Signupprofile" />
        <activity android:name=".Nearbyplaces" />
        <activity android:name=".Searchaddresses" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmnKk9PSrxGxYNaZfybM3NIxPhn3oK8e0" />

        <activity android:name=".ShowTrafiicActivity" />
        <activity android:name=".Forgetpassword"></activity>



    </application>

</manifest>